body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--textColorWeight);
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color:  #20baf0; 
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 32%;
    height: 50vh;
    border: 5px solid var(--textColorWeight);
    border-radius: 2px;
    box-shadow: 1px 2px 2px #6d6d6d;
    z-index: 1;
}

.quiz-questions {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 150px;
   margin-top: 50px; 
}

.quiz-control {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 40%;
    z-index: 1;
    margin-bottom: 15%;   
}

.btnNext,
.btnRestart {
    width: 150px;
    height: 40px;
    border: 2px solid var(--textColorWeight);
    border-radius: 1px;
    cursor: pointer;
    background-color: white;
    transition: 0.5s ease;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--textColorWeight);
}

.btnNext:hover,
.btnRestart:hover {
    background-color: rgb(249, 139, 253);
}

.btnNext {
    margin-right: 30px;
}

/* из js */

#questionDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-top: 50px;  
}

#answerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#btnContrl {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15%; 
}

#AnswerOne,
#AnswerTwo {
    width: 150px;
    height: 40px;
}

#AnswerOne,
#AnswerTwo {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    width: 150px;
    height: 40px;
    background-color: white;
    transition: 0.5s ease;
    border: 2px solid var(--textColorWeight);
    border-radius: 1px;
    cursor: pointer;
}

#btnRestartQuiz{
    margin-top: 140px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    width: 150px;
    height: 40px;
    background-color: white;
    transition: 0.5s ease;
    border: 2px solid var(--textColorWeight);
    border-radius: 1px;
    cursor: pointer;
    bottom: 300px;
}

#AnswerOne:hover,
#AnswerTwo:hover,
#btnRestartQuiz:hover {
    width: 150px;
    height: 40px;
    background-color: rgb(249, 139, 253);
}

#AnswerOne {
    margin-right: 30px;
}

#finalText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:1400px) {

    .quiz {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: white;
        width: 27%;
        height: 45vh;
        border: 5px solid var(--textColorWeight);
        border-radius: 2px;
        box-shadow: 1px 2px 2px #6d6d6d;
        z-index: 1;
    }

}

@media (max-width:1400px){
    .quiz {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: white;
        width: 27%;
        height: 45vh;
        border: 5px solid var(--textColorWeight);
        border-radius: 2px;
        box-shadow: 1px 2px 2px #6d6d6d;
        z-index: 1;
    }



}


@media (max-width:1300px){
    .quiz {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: white;
        width: 30%;
        height: 45vh;
        border: 5px solid var(--textColorWeight);
        border-radius: 2px;
        box-shadow: 1px 2px 2px #6d6d6d;
        z-index: 1;
    }


}

@media (max-width:1200px){
    .quiz-control {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 40%;
        z-index: 1;
        margin-bottom: 15%;
    }

    #btnContrl{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 40%;
        z-index: 1;
        margin-bottom: 15%;

    }

    .btnNext,
    .btnRestart {
        margin: 0;
        
    }

    .btnNext {
        margin-bottom: 10px;
    }

    #AnswerOne,
    #AnswerTwo {
        margin: 0;
    }

    #AnswerOne{
        margin-bottom: 10px;
    }

    
}

@media (max-width:1000px) {
    .quiz {
        width: 40%;
        height: 45vh;
        
    }
}

@media (max-width: 600px) {
    .quiz {
        width: 60%;
        height: 45vh;
        
    }
}

@media (max-width: 450px) {

    body {
        
        font-size: 19px;
       
    }
    .quiz {
        width: 70%;
        height: 45vh;
        
    }

    #btnRestartQuiz{
        
        margin-top: 120px;
    }

    
}